@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We can prove that we can <a href="https://docs.microsoft.com/aspnet/core">build Web apps with ASP.NET Core</a>.</p>
</div>
